<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("base") %>
</head>
<body>
    <!-- <h1><%= pageTitle %></h1> -->
    <div>
        <table border="1">
                <th>번호</th>
	            <th>제목</th>
                <th>작성자</th>
                <th>좋아요</th>
                <th>싫어요</th>
                <th>작성일</th>
        <% if (boards) {
            for (let i=0; i < boards.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><a href="/boards/<%=boards[i].board_id%>"><%= boards[i].title %></a></td>
                    <td><%= boards[i].writer %></td>
                    <td><%= boards[i].like %></td>
                    <td><%= boards[i].hate %></td>
                    <td><%= boards[i].createdAt %></td>
                </tr>
        <% }
    } else { %>
        <tr>SORRY, not found</tr>
        <%}%>
    </table>
    </div>
</body>
</html>