<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/watchFun.js"></script>
    <%- include ("base") %>
        <script>
            localStorage.setItem("dateSort", Number(0));
            localStorage.setItem("likeSort", Number(0));
            localStorage.setItem("hateSort", Number(0));
            localStorage.setItem("page", Number(1));
        </script>
</head>
<body>
    <div>
        <button onclick="dateView(localStorage.getItem('dateSort'));">작성일순</button>
        <button onclick="likeView(localStorage.getItem('likeSort')); ">좋아요순</button>
        <button onclick="hateView(localStorage.getItem('hateSort')); ">싫어요순</button>
    </div>
    <div id="page-class">
        <% if (boards) {
            let pageLength = (boards.length % 20 == 0) ? boards.length/20 : boards.length/20+1;
            for (let i=1; i <= pageLength; i++) { %>
                <span onclick="pageNum(<%= i %>);"><%= i %></span>
        <%} }%>
    </div>
    <div id="table-container">
        <table id="table-th" border="1">
                <th>번호</th>
	            <th>제목</th>
                <th>작성자</th>
                <th>좋아요</th>
                <th>싫어요</th>
                <th>작성일</th>
        <% if (boards) {
            // let max = (1*20) >= boards.length ? boards.length : ((1*20));
            for (let i=0; i < 20; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><a href="/boards/<%=boards[i].board_id%>"><%= boards[i].title %></a></td>
                    <td><%= boards[i].writer %></td>
                    <td><%= boards[i].like %></td>
                    <td><%= boards[i].hate %></td>
                    <td><%= boards[i].createdAt %></td>
                </tr> 
        <% }
    } else { %>
        <tr>SORRY, not found</tr>
        <%}%>
    </table>
    </div>
</body>
</html>